.form {
	p {
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 0.5rem;
		color: var(--charcoal);
	}

	&-field {
		display: block;
		width: 100%;
		margin-bottom: 1.5rem;

		&-instruction {
			margin-left: 0.75rem;
			font-size: 0.75rem;
			font-weight: 400;
			font-style: italic;
			font-family: var(--font-family-secondary);
		}

		&-content {
			select,
			input {
				width: 100%;
				border: none;
				padding: 0.75rem 1rem;
				border-bottom: 1px solid var(--charcoal);
				box-sizing: border-box;
				font-family: var(--font-family-secondary);
				font-weight: 300;

				&:focus {
					outline: none !important;
					border-bottom: 1px solid var(--gray);
					box-shadow: 0px 0px 10px -5px rgba(65, 71, 84, 0.4);
				}

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					-webkit-box-shadow: 0 0 0 30px #fff inset !important;
				}
			}

			select {
				option {
					margin-bottom: 0.5rem;
				}
			}
		}

		&-error {
			margin-top: 0.25rem;
			font-size: 0.8rem;
		}
	}

	&-col {
		display: flex;
		margin: 0 -1rem;
		margin-bottom: 1.75rem;

		> label {
			margin: 0 1rem;
			flex: 1 1 auto;
		}
	}

	&-actions {
		display: block;
		margin-top: 2rem;

		button {
			padding: 0.75rem 2rem;
			border-radius: 3px;
			background-color: var(--sand);
			color: var(--charcoal);
			font-weight: bold;
			font-family: var(--font-family-secondary);
			border: 1px solid transparent;
			transition: all 200ms ease-out;
			cursor: pointer;

			&:hover {
				border: 1px solid rgba(65, 71, 84, 0.2);
				box-shadow: 0px 0px 10px -5px rgba(65, 71, 84, 0.4);
			}
		}
	}
}
