.sidebar {
	width: 18vw;
	position: fixed;
	right: 0;

	padding: 3rem;
	margin-top: 2rem;

	box-shadow: 3px 0px 10px -5px rgba(65, 71, 84, 0.4);
	border: 1px solid var(--sand);
	border-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	&-content {
		> div {
			> div {
				margin-bottom: 1.15rem;
				display: block;

				&:last-child {
					margin-bottom: 0;
				}
			}

			h3 {
				font-size: 1.2rem;
				font-weight: 500;
				color: var(--charcoal);
				margin-bottom: 1rem;
			}

			p {
				font-size: 1.1rem;
				font-family: var(--font-family-secondary);
				font-weight: 300;
				color: var(--charcoal);
				display: block;
				line-height: 1.5em;

				span {
					font-weight: bold;
				}
			}

			a {
				font-size: 1.1rem;
				font-family: var(--font-family-secondary);
				font-weight: 300;
				color: var(--charcoal);
				display: inline-block;
				line-height: 1.5em;

				span {
					margin-right: 0.5rem;
					font-weight: bold;
				}
			}
		}

		.goals-associated {
			div {
				position: relative;
				padding: 0.25rem;

				a {
					text-decoration: inherit;
				}

				span {
					display: flex;
					align-items: center;
					margin-left: 1rem;
					font-weight: 300;

					&:before {
						position: absolute;
						content: "";
						display: block;
						width: 0.75rem;
						height: 1px;
						left: 0;
						background-color: var(--charcoal);
					}
				}
			}
		}
	}

	&-actions {
		margin-top: 2.5rem;
	}
}
