.page-content {
	&-contributions {
		h3 {
			margin-bottom: 1.7rem;
		}

		.contributions {
			margin-bottom: 3rem;

			&-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}
