body {
	--font-family-main: "Oswald", sans-serif;
	--font-family-secondary: "Outfit", sans-serif;

	background-color: #efefef;
	color: #1c1c1e;
}

header,
footer {
}

.main-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.main-content {
	width: 100%;
	margin-left: var(--header-width);
}

.page {
	&-content {
		width: 100%;
		display: flex;

		&-container {
			width: 58vw;
			padding: 2rem;

			h3 {
				font-family: var(--font-family-main);
				color: var(--gray);
				font-weight: 500;
				font-size: 1.35rem;
			}
		}
	}
}

.content {
	padding: 4rem 10rem;
}

h1,
h2,
h3 {
	font-family: var(--font-family-secondary);
}

p,
ul,
li,
a,
span {
	font-family: var(--font-family-main);
	font-weight: 300;
}

sup {
	margin-left: 0.15rem;
	vertical-align: text-top;
	font-size: 0.6rem;
	text-transform: uppercase;
}

.days-to-go {
	font-family: var(--font-family-secondary);
	font-size: 0.85rem;
	font-style: italic;
	font-weight: 300 !important;

	span {
		font-weight: 500;
		padding: 0 0.25rem;
		color: var(--matte);
	}
}
